@{
    ViewData["Title"] = "Home Page";
}
<partial name="_ValidationScriptsPartial" />

<div id="MainContainer" class="text-center">

    <div>
        <button id="signup">Sign Up</button>
        <button id="login">Login</button>

    </div>

</div>
<div id="logindiv" style="display:none">
    <form name="registration" novalidate="novalidate">

        <span>
            <label for="username">User Name</label>
            <input type="text" id="UserInput" name="UserInput" placeholder="Add User Name here" required>
        </span>
        <br />
        <br />
        <br />
        <span>
            <label for="password">Password</label>
            <input type="password" id="PasswordInput" name="PasswordInput" placeholder="Add Password here" required>
        </span>
        <br />
        <br />
        <br />
        <span><button id="register">Register</button></span>

    </form>

</div>

<div id="dialog" title="Register New User">
    <span>Are you sure you want to create the user?</span>
    <br />
</div>
@section Scripts {

    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.min.js" integrity="sha512-zlWWyZq71UMApAjih4WkaRpikgY9Bz1oXIW5G0fED4vk14JjGlQ1UmkGM392jEULP8jbNMiwLWdM8Z87Hu88Fw==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.min.css" integrity="sha512-wJgJNTBBkLit7ymC6vvzM1EcSWeM9mmOu+1USHaRBbHkm6W9EgM0HY27+UtUaprntaYQJF75rc8gjxllKs5OIQ==" crossorigin="anonymous" />
    <script src="~/js/Index.js"></script>
    <link rel="stylesheet" href="~/css/index.css">
}
